

/* .home{ */
    /* width: 39px;
    height:20vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 678px; */
    /* width: 690.281px;
height: 752.291px;
flex-shrink: 0; */

/* width: 614px;
    height: 583.56px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 751px;
    margin-top: -109px; */
/* } */

/* .group715{ */
    /* float: right; */
    /* display: flex; */
    /* width: 565px; */
    /* height: 752px; */
    /* margin-top: -80px; */
/* } */